html, body{
	background-color: lightblue;
	max-width: 100%;
	overflow-x: hidden;
}






@media (max-width: 800px){
	.searchBar{
		width: 150px;
	}
	body{
		background-color: lavender;
	}
	#featureArea{
		top: 160px;
	}
}

@media (max-width: 400px){
	.searchBar{
		width: 150px;
	}
	body{
		background-color: lightgreen;
	}
}